* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App .toolbar .selector-wrapper::before, .App .toolbar .color-picker::before {
  content: "";
  height: 200px;
  border-right: 2px rgb(243, 243, 243) solid;
  margin: 0 20px;
}

.App {
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}
.App .toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
  width: 100%;
  height: 230px;
}
.App .toolbar .color-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}
.App .toolbar .color-picker .sketch-picker {
  top: 0;
  height: 220px;
}
.App .toolbar .selector-wrapper {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.App .toolbar .selector-wrapper .selector {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 100px;
  background-color: #ffffff;
}
.App .space {
  width: 100%;
  height: 20px;
  background-color: rgb(243, 243, 243);
}
.App .zoom {
  position: absolute;
  top: 100px;
  left: 500px;
}
.App .canvas-wrapper .canvas {
  background-color: #fff;
}
.App .canvas-wrapper .observed-top {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
}
.App .canvas-wrapper .observed-right {
  position: absolute;
  right: 0;
  width: 2px;
  height: calc(100vh - 270px);
  background-color: red;
}
.App .canvas-wrapper .observed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}
.App .canvas-wrapper .observed-left {
  position: absolute;
  left: 0;
  width: 2px;
  height: calc(100vh - 270px);
  background-color: red;
}