@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
.App .tutorial-container .end-container .end, .App .tutorial-container .action-9, .App .tutorial-container .action-8-container .action-8, .App .tutorial-container .action-7-container .action-7, .App .tutorial-container .action-6-container .action-6, .App .tutorial-container .action-5-container .action-5, .App .tutorial-container .action-4-container .action-4, .App .tutorial-container .action-3-container .action-3, .App .tutorial-container .action-2-container .action-2, .App .tutorial-container .action-1, .App .tutorial-container .start {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 101;
  background-color: #a274df;
  font-size: 20px;
  border: 4px rgb(32, 42, 72) solid;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3%;
  left: 37.5%;
  top: 35%;
  height: 30%;
  width: 25%;
  min-width: 500px;
}
@media screen and (max-width: 2000px) {
  .App .tutorial-container .end-container .end, .App .tutorial-container .action-9, .App .tutorial-container .action-8-container .action-8, .App .tutorial-container .action-7-container .action-7, .App .tutorial-container .action-6-container .action-6, .App .tutorial-container .action-5-container .action-5, .App .tutorial-container .action-4-container .action-4, .App .tutorial-container .action-3-container .action-3, .App .tutorial-container .action-2-container .action-2, .App .tutorial-container .action-1, .App .tutorial-container .start {
    left: calc((100% - 500px) / 2);
  }
}

.App .toolbar .figures-wrapper::before, .App .toolbar .selector-wrapper::before, .App .toolbar .color-wrapper::before, .App .toolbar .linewidth-container .linewidth-selector::before {
  content: "";
  height: 200px;
  border-right: 2px rgb(32, 42, 72) solid;
  margin: 0 40px;
}

.App .toolbar .figures-wrapper .name, .App .toolbar .color-wrapper .color-container .name, .App .toolbar .linewidth-container .name, .App .toolbar .cancel-retrieve-container .name, .App .zoom .name {
  position: absolute;
  font-size: 13px;
  color: rgb(52, 52, 52);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.App {
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a274df;
}
.App .tutorial {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.App .tutorial-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 101;
  background-color: rgba(10, 10, 10, 0.5);
}
.App .tutorial-container .action-1 {
  top: 42.5%;
  height: 15%;
}
.App .tutorial-container .action-2-container {
  width: 100%;
}
.App .tutorial-container .action-2-container .action-2 {
  top: 300px;
  left: 42.5%;
  width: 15%;
  min-width: 200px;
}
@media screen and (max-width: 1350px) {
  .App .tutorial-container .action-2-container .action-2 {
    left: calc((100% - 200px) / 2);
  }
}
.App .tutorial-container .action-3-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.App .tutorial-container .action-3-container .action-3 {
  top: 100px;
  left: 42.5%;
  width: 15%;
  min-width: 200px;
}
@media screen and (max-width: 1350px) {
  .App .tutorial-container .action-3-container .action-3 {
    left: calc((100% - 200px) / 2);
  }
}
.App .tutorial-container .action-4-container {
  width: 220px;
  height: 125px;
}
.App .tutorial-container .action-4-container .toolbar {
  height: 100%;
}
.App .tutorial-container .action-4-container .toolbar .cancel-retrieve-container::after {
  display: none;
}
.App .tutorial-container .action-4-container .action-4 {
  top: 35%;
  height: 20%;
}
.App .tutorial-container .action-5-container {
  width: 220px;
  margin-top: 127px;
  height: 123px;
}
.App .tutorial-container .action-5-container .toolbar {
  height: 100%;
}
.App .tutorial-container .action-5-container .action-5 {
  height: 20%;
}
.App .tutorial-container .action-6-container {
  margin-top: 80px;
  margin-left: 262px;
  height: 90px;
}
.App .tutorial-container .action-6-container .toolbar {
  height: 100%;
}
.App .tutorial-container .action-6-container .toolbar .linewidth-container .linewidth-selector::before {
  display: none;
}
.App .tutorial-container .action-6-container .toolbar .linewidth-container .name {
  display: none;
}
.App .tutorial-container .action-6-container .action-6 {
  height: 15%;
  top: 42.5%;
}
.App .tutorial-container .action-7-container {
  height: 160px;
  width: 270px;
  margin-top: 45px;
  margin-left: 404px;
}
.App .tutorial-container .action-7-container .toolbar {
  height: 100%;
}
.App .tutorial-container .action-7-container .toolbar .color-wrapper::before {
  display: none;
}
.App .tutorial-container .action-7-container .toolbar .color-wrapper .name {
  display: none;
}
.App .tutorial-container .action-7-container .action-7 {
  height: 25%;
  top: 37.5%;
}
.App .tutorial-container .action-8-container {
  margin-top: 60px;
  margin-left: 754px;
  width: 150px;
  height: 130px;
}
.App .tutorial-container .action-8-container .toolbar {
  height: 100%;
}
.App .tutorial-container .action-8-container .toolbar .figures-wrapper::before {
  display: none;
}
.App .tutorial-container .action-8-container .toolbar .figures-wrapper .fill-selector {
  left: 88px;
}
.App .tutorial-container .action-8-container .toolbar .figures-wrapper .name {
  display: none;
}
.App .tutorial-container .action-9 {
  height: 40%;
  top: 30%;
}
.App .tutorial-container .end-container {
  margin-left: calc(100% - 60px);
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: #a274df;
}
.App .zoom {
  position: absolute;
  top: 140px;
  left: 65px;
}
.App .zoom img {
  width: 32px;
  height: 32px;
  border: 2px #a274df solid;
  padding: 2px;
  border-radius: 7px;
  cursor: pointer;
}
.App .zoom img:hover {
  border-color: rgb(32, 42, 72);
  background-color: #d1a3ef;
}
.App .zoom span {
  position: absolute;
  text-align: center;
  width: 70px;
  left: 16px;
  top: 35px;
}
.App .zoom .name {
  width: 200px;
  top: 60px;
  left: -55px;
  text-align: center;
}
.App .toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 250px;
  background-color: #a274df;
}
.App .toolbar .cancel-retrieve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
}
.App .toolbar .cancel-retrieve-container .cancel-retrieve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.App .toolbar .cancel-retrieve-container .cancel-retrieve img {
  width: 24px;
  height: 24px;
  background-color: #af6cc9;
  position: absolute;
  top: 60px;
  border: 2px rgb(32, 42, 72) solid;
  border-radius: 7px;
  cursor: pointer;
}
.App .toolbar .cancel-retrieve-container .cancel-retrieve img.unactive {
  background-color: #513657;
}
.App .toolbar .cancel-retrieve-container .cancel-retrieve img.unactive:hover {
  background-color: #513657;
}
.App .toolbar .cancel-retrieve-container .cancel-retrieve img:hover {
  background-color: #d1a3ef;
}
.App .toolbar .cancel-retrieve-container .cancel-retrieve img:first-child {
  left: 84px;
}
.App .toolbar .cancel-retrieve-container .cancel-retrieve img:last-child {
  left: 112px;
}
.App .toolbar .cancel-retrieve-container::after {
  content: "";
  position: absolute;
  width: 190px;
  border-bottom: 2px rgb(32, 42, 72) solid;
  left: 15px;
}
.App .toolbar .cancel-retrieve-container .name {
  width: 110px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 55px;
  top: 110px;
}
.App .toolbar .linewidth-container {
  position: relative;
}
.App .toolbar .linewidth-container .linewidth-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.App .toolbar .linewidth-container .linewidth-selector .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px #a274df solid;
  border-radius: 10px;
  cursor: pointer;
  width: 60px;
  height: 90px;
}
.App .toolbar .linewidth-container .linewidth-selector .title img {
  margin: 5px;
}
.App .toolbar .linewidth-container .linewidth-selector .title:hover {
  background-color: #d1a3ef;
  border-color: rgb(32, 42, 72);
}
.App .toolbar .linewidth-container .linewidth-selector .options {
  border: 2px rgb(32, 42, 72) solid;
  border-radius: 10px;
  background-color: #af6cc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 82px;
  top: 160px;
  z-index: 210;
  width: 60px;
}
.App .toolbar .linewidth-container .linewidth-selector .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  z-index: 10;
  cursor: pointer;
}
.App .toolbar .linewidth-container .linewidth-selector .options .option:first-child:hover {
  background-color: #d1a3ef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.App .toolbar .linewidth-container .linewidth-selector .options .option:hover {
  background-color: #d1a3ef;
}
.App .toolbar .linewidth-container .linewidth-selector .options .option:last-child:hover {
  background-color: #d1a3ef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.App .toolbar .linewidth-container .name {
  top: 172.25px;
  left: 82px;
  text-align: center;
  width: 60px;
}
.App .toolbar .color-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}
.App .toolbar .color-wrapper .color-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: inherit;
}
.App .toolbar .color-wrapper .color-container .current-color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px #ddc7e1 solid;
  margin-right: 20px;
}
.App .toolbar .color-wrapper .color-container .all-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 120px;
}
.App .toolbar .color-wrapper .color-container .all-color .one-color {
  border-radius: 50%;
  border: 2px #a274df solid;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}
.App .toolbar .color-wrapper .color-container .all-color .one-color:hover {
  border-color: rgb(32, 42, 72);
}
.App .toolbar .color-wrapper .color-container img {
  width: 60px;
  height: 60px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-left: 20px;
  border: 2px #a274df solid;
  border-radius: 10px;
  cursor: pointer;
}
.App .toolbar .color-wrapper .color-container img:hover {
  background-color: #d1a3ef;
  border-color: rgb(32, 42, 72);
}
.App .toolbar .color-wrapper .color-container .name {
  top: 205px;
}
.App .toolbar .color-wrapper .color-picker {
  position: absolute;
  left: 37.5%;
  top: 25%;
  z-index: 10;
  width: 25%;
  min-width: 500px;
}
@media screen and (max-width: 2000px) {
  .App .toolbar .color-wrapper .color-picker {
    top: calc((100% - 484px) / 2);
    left: calc((100% - 500px) / 2);
  }
}
@media screen and (max-height: 1000px) {
  .App .toolbar .color-wrapper .color-picker {
    top: calc((100% - 484px) / 2);
  }
}
.App .toolbar .selector-wrapper {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.App .toolbar .selector-wrapper .selector {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 100px;
  background-color: #d1a3ef;
}
.App .toolbar .figures-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.App .toolbar .figures-wrapper .figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70px;
}
.App .toolbar .figures-wrapper .figures .figure {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #a274df;
  text-decoration: none;
  cursor: pointer;
}
.App .toolbar .figures-wrapper .figures .figure img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border: 2px #a274df solid;
}
.App .toolbar .figures-wrapper .figures .figure img:hover {
  border: 2px black solid;
  border-radius: 5px;
  background-color: #d1a3ef;
}
.App .toolbar .figures-wrapper .fill-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 170px;
}
.App .toolbar .figures-wrapper .fill-selector .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 2px #a274df solid;
  margin-left: 3px;
  z-index: 210;
  cursor: pointer;
}
.App .toolbar .figures-wrapper .fill-selector .title img {
  margin: 0 3px;
  z-index: 210;
}
.App .toolbar .figures-wrapper .fill-selector .title:hover {
  background-color: #d1a3ef;
  border: 2px rgb(32, 42, 72) solid;
  border-radius: 5px;
}
.App .toolbar .figures-wrapper .fill-selector .options {
  border: 2px rgb(32, 42, 72) solid;
  border-radius: 10px;
  background-color: #af6cc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -22px;
  top: 55px;
  z-index: 210;
}
.App .toolbar .figures-wrapper .fill-selector .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  z-index: 10;
  cursor: pointer;
}
.App .toolbar .figures-wrapper .fill-selector .options .option img {
  margin-right: 3px;
}
.App .toolbar .figures-wrapper .fill-selector .options .option:first-child:hover {
  background-color: #d1a3ef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.App .toolbar .figures-wrapper .fill-selector .options .option:last-child:hover {
  background-color: #d1a3ef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.App .toolbar .figures-wrapper .name {
  left: 135px;
  top: 180px;
}
.App .space {
  width: 100%;
  height: 4px;
  background-color: rgb(32, 42, 72);
}
.App .canvas-wrapper {
  width: 100%;
  height: calc(100vh - 254px);
  background-color: #a274df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.App .canvas-wrapper .canvas {
  border: 4px rgb(32, 42, 72) solid;
  border-radius: 20px;
  background-color: #fff;
}
.App .canvas-wrapper .observed-top {
  position: absolute;
  width: 100%;
  height: 1px;
}
.App .canvas-wrapper .observed-right {
  position: absolute;
  right: 0;
  width: 1px;
  height: calc(100vh - 270px);
}
.App .canvas-wrapper .observed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.App .canvas-wrapper .observed-left {
  position: absolute;
  left: 0;
  width: 1px;
  height: calc(100vh - 270px);
}