* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$second-color: rgb(243, 243, 243);
%before {
    content: '';
    height: 200px;
    border-right: 2px $second-color solid;
    margin: 0 20px;
}

.App {
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;



    .toolbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 250px;



        .color-picker {
            display: flex;
            align-items: center;
            width: 300px;



            .sketch-picker {
                top: 0;
                height: 220px;
            }
        }



        .color-picker::before {
            @extend %before
        }



        .selector-wrapper {
            height: 220px;
            display: flex;
            align-items: center;



            .selector {
                align-items: center;
                width: 50px; 
                height: 100px;
                background-color: #ffffff;
            }
        }


        
        .selector-wrapper::before {
            @extend %before
        }
    }




    .space {
        width: 100%;
        height: 20px;
        background-color: $second-color;
    }




    .zoom {
        position: absolute;
        top: 100px;
        left: 650px;
    }




    .canvas-wrapper {
        .canvas {
            background-color: #fff;
        }
        .observed-top {
            position: absolute;
            width: 100%;
            height: 1px;
        }
        .observed-right {
            position: absolute;
            right: 0;
            width: 1px;
            height: calc(100vh - 270px);
        }
        .observed-bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
        }
        .observed-left {
            position: absolute;
            left: 0;
            width: 1px;
            height: calc(100vh - 270px);
        }
    }
}