* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$second-color: rgb(243, 243, 243);
%before {
    content: '';
    height: 200px;
    border-right: 2px $second-color solid;
    margin: 0 20px;
}

.App {
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    .toolbar {
        display: flex;
        align-items: center;
        margin: 20px 0;
        width: 100%;
        height: 230px;
        .color-picker {
            display: flex;
            align-items: center;
            width: 300px;

            .sketch-picker {
                top: 0;
                height: 220px;
            }
        }
        .color-picker::before {
            @extend %before
        }

        .selector {
            align-items: center;
            width: 50px; 
            height: 100px;
            background-color: #ffffff;
        }
        .selector::before {
            margin-left: 100px;
            @extend %before
        }
    }
    .space {
        width: 100%;
        height: 50px;
        background-color: $second-color;
    }
    .canvas {
        display: block;
        background-color: #fff;
    }
}